* {
  box-sizing: border-box;
}
body {
  background-color: rgb(240, 239, 239);
  background-size: cover;
}
button,
form,
input {
  margin: 10px;
}
div1 {
	float: left;
  margin: 5px;
  font-size: 10px;
  color: #4aaaa5;
}
h1 {
  color: #4aaaa5;
}
.animal-btn {
  background-color: #4aaaa5;
  color: white;
}
#animal-form{
  color: #4aaaa5;
  display: inline-block;
}
#animals-view{
  color: #4aaaa5;

}
.img-fluid{
  width: 110px;
}